name: release

on:
  push:
    branches:
      - main

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}
  # github.branch as <branch>
  IMAGE_TAG: ${{ github.branch }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: startsWith(github.event_name, 'push')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build image
        run: |
          docker build . --build-arg VERSION="$(git describe --always --tags --dirty)" --build-arg BUILD_ENV="dev" --tag $IMAGE_NAME --label "runnumber=${GITHUB_RUN_ID}"

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push image
        run: |
          IMAGE_ID=ghcr.io/$IMAGE_NAME
          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          # Strip git ref prefix from version
          VERSION=${{ github.sha }}
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION
          docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION

      - name: executing remote ssh commands using ssh key
        id: rollout
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            VERSION=${{ github.sha }}
            # Strip "v" prefix from tag name
            echo ${{ secrets.SOURCE_DIRECTORY }}
            echo $VERSION
            cd ${{ secrets.SOURCE_DIRECTORY }}
            ./run.sh discord-lol-champions $VERSION
